.header{
    height: 35vw;
    margin: 0 auto;
    background: url('/header_img.png') no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    background-position: center;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 2.5s;
}

.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.header-contents p{
    color: white;
    font-size: 1vw;
    text-align: justify;
}

.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;

}
/* .header-contents button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
} */

.header-contents button:hover{
    background-color: #fff4f2;
}